div.checkbox-list
  span 
    button.btn.btn-xs.btn-all(ng-click='selectAll()') {{ text.all }}
  span 
    button.btn.btn-xs.btn-reverse(ng-click='selectReverse()') {{ text.reverse }}
  li(ng-repeat='item in inputLabels track by $index' style='list-style-type: none')
    .checkbox.checkbox-item
      label
        span
          input(type='checkbox' ng-model='selects[$index]' ng-change='update()' checked='checked')
          | {{ item }}

  style(type='text/css').
    .checkbox-list .checkbox-item label, input { cursor: pointer; }
    .checkbox-list button { cursor: pointer; }
    .checkbox-list li { list-style-type: none; }


